/* HEADER */
.top-bar {
	background-color: rgba(2, 85, 125);
	color: white;
	padding: 10px;
}

.container_header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: all 0.5s ease-in-out;
}

.scroll-header {
	background-color: rgba(2, 85, 125);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

.scroll-header .top-bar {
	background-color: white;
	color: rgba(2, 85, 125);
}


.scroll-header .link {
	color: rgba(2, 85, 125);
}

.scroll-header .hero_links a {
	color: white;
}

.scroll-header .hero_links a:hover {
	color: #D6A000;
}

.header {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.header_logo {
	width: 90px;
}

.header_logo img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width:768px) {
	.header_logo {
		width: 63px;
	}

	.hero_links {
		gap: 10px !important;
	}

	.header {
		padding: 15px 10px;
		gap: 20px;
	}

	.header_contact_container {
		display: flex;
		flex-direction: column;
	}

	.header_contact_container {
		text-align: center;
	}

	.top-bar .container {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.social_media {
		text-align: center;
	}

}



/* HERO */
.hero {
	position: relative;
	max-height: 700px;
	overflow: hidden;
	height: 100%;
}

.hero h2 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	position: relative;
	width: 75%;
	padding-bottom: 15px;
	border-bottom: 4px solid #D6A000;
}

.hero h3 {
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: justify;
}

.hero-video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero_links {
	display: flex;
	justify-content: center;
	gap: 50px;
	list-style-type: none;
	margin: auto;
	padding: 0px;
}

.hero_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
}

.hero_content_movil {
	display: none;
}

.hero .card {
	border-radius: 10px;
	overflow: hidden;
	width: 85%;
}

.hero .card-header {
	background-color: rgba(2, 85, 125);
	color: white;
	border-bottom: #D6A000 solid 5px;
}

.hero input,
.hero textarea {
	border-radius: 17px;
	background-color: lightgrey;
}

@media (max-width:768px) {
	.hero_content {
		display: none;
	}

	.hero {
		height: 100vh;
		max-height: 100vh;
	}

	.header {
		display: flex;
		flex-direction: column;
	}

	.hero_content_movil {
		display: block;
	}

	.hero_content_movil {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 200;
		top: 65%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}

	.hero_content_movil .form-group {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.hero_content_movil .card {
		margin-top: 4%;
	}

	.hero_content_movil .card-body {
		padding: 10px;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.hero_content_movil .card-header {
		font-size: 14px;
		padding: 3px;
	}
}

.hero_content_movil input {
	height: 28px;
}

.hero_content_movil h2 {
	font-size: 1rem;
	width: 100%;
	font-weight: 700;
}

.hero_content_movil h3 {
	font-size: 1.4rem;
	text-align: center;
	font-weight: 700;
	text-align: center;
	padding: 0px;
	margin: -5px;
}




/** BENEFITS **/
.background-benefits {
	object-fit: cover;
	width: 100%;
	height: 100%;
	object-position: center top;
}

.icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img-icon-container {
	background-color: white;
	border-radius: 50%;
	padding: 10%;
	height: 100px;
	width: 100px;
}

.background-blue::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(2, 85, 125, 0.5);
	/* Cambia el valor RGBA para definir el color y la opacidad */
	mix-blend-mode: multiply;
	/* Cambia el modo de mezcla para ajustar el efecto */
	z-index: 100;
}

.benefits {
	height: 350px;
}

.benefits .container {
	position: relative;
	z-index: 200;
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	justify-items: center;
	gap: 20px;
	place-content: center;
	height: 100%;
}

.icon-text {
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	max-width: 150px;
}

@media (max-width:768px) {
	.img-icon-container {
		padding: 15%;
		height: 80px;
		width: 80px;
	}
}




/** ABOUT US **/
.about_us {
	background-color: rgba(2, 85, 125);
	padding: 5%;
}

.about_us img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.img_container_about_us {
	width: 100%;
	overflow: hidden;
	margin: auto;
	border-radius: 26px;
}

.about_us h2 {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
}

.about_us h3 {
	color: white;
	font-size: 2.2rem;
	font-weight: 700;
	text-align: left;
}

.about_us p {
	color: white;
	font-size: 1.7rem;
	font-weight: 400;
	text-align: left;
}

.about_us .btn_movil {
	display: none;
}

@media (max-width:768px) {
	.about_us h2 {
		text-align: center;
	}

	.about_us h3 {
		text-align: center;
	}

	.about_us p {
		text-align: center;
		font-size: 1.2rem;
	}

	.about_us .btn_desktop {
		display: none;
	}

	.about_us .btn_movil {
		display: block;
	}

}




/** THE MOST POPULAR **/
.the_most_popular .card {
	width: 70%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	overflow: hidden;
}

/* cuerpos de los cards de la seccion The Most Popular  */
.the_most_popular .card .card-body {
	display: grid;
	justify-items: center;
}

.the_most_popular .cards_container,
.our_team .cards_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.the_most_popular .card-img-top {
	border-bottom: 6px solid rgba(2, 85, 125);
}

.the_most_popular .card-body {
	border-top: 7px solid #D6A000;
	padding-top: 6px;
}

.the_most_popular .card-title {
	text-align: center;
	font-size: medium;
	font-weight: 500;
	color: rgba(2, 85, 125);
	margin-bottom: 25px;
}

@media (max-width:768px) {
	.the_most_popular .cards_container {
		flex-direction: column;
	}

	.the_most_popular .card {
		width: 70%;
	}

	.the_most_popular .card .btn {
		width: 100%;
		font-size: 14px;
		font-weight: 600;
	}

	.the_most_popular h2 {
		text-align: center;
	}

	.the_most_popular h3 {
		text-align: center;
	}


}




/** OUR TEAM **/
.our_team {
	background-color: whitesmoke;
}

.our_team .card {
	width: 25%;
	border-radius: 10px;
	overflow: hidden;
}

.our_team .card-title {
	text-align: center;
	margin: -5px;
	margin-top: 14px;
	color: rgba(2, 85, 125);
}

.our_team .card-text {
	text-align: center;
	font-size: larger;
	font-weight: 500;
	color: #D6A000;
	margin-bottom: 27px;
}

.our_team .img_team_container {
	border-radius: 50%;
	overflow: hidden;
	height: 125px;
	width: 125px;
	border: 7px solid white;
}

.our_team .img_team_container img,
.our_team .img_top_container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.our_team .img_top_container {
	height: 105px;
}

/* Cuerpo de los cards de las seccion Our Team */
.our_team .card .card-body {
	place-content: center;
	display: grid;
	margin-top: -80px;
}

@media (max-width:768px) {
	.our_team .cards_container {
		flex-direction: column;
	}

	.our_team .card {
		width: 70%;
	}

	.our_team .card .btn {
		width: 100%;
		font-size: 14px;
		font-weight: 600;
	}

	.our_team h2 {
		text-align: center;
	}

	.our_team h3 {
		text-align: center;
	}

	.our_team .card .card-body {
		margin-top: 0px;
	}

	.our_team .card .card-body .btn {
		margin-bottom: 20px;
	}

	.our_team .card .card-body .card-text {
		margin-bottom: 0px;
	}

	.our_team .card .card-body .card-title {
		margin-bottom: 0px;
	}

	.our_team .card .card-body .img_team_container {
		margin-bottom: 0px;
	}

	.our_team .card .card-body .img_top_container {
		margin-bottom: 0px;
	}

}




/** STUDY CAREERS**/
.study_careers .img_container_type_1 {
	width: 100%;
	height: 315px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 25px;
}

.study_careers .img_container_type_2 {
	width: 100%;
	height: 145px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 25px;
}

.study_careers .img_container_type_3 {
	width: 100%;
	height: 145px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 25px;
}

.img_container_type_1:hover img,
.img_container_type_2:hover img,
.img_container_type_3:hover img {
	transform: scale(1.1);
	transition: transform 0.3s ease;
}

.study_careers img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.info_container {
	position: absolute;
	bottom: 7%;
	left: 13%;
	z-index: 200;
}

.info_container h4 {
	color: white;
	font-size: 1.6rem;
	font-weight: bold;
}


@media (max-width:768px) {
	.careers_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}

	.careers_sub_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 0px;
	}

	.study_careers .img_container_type_1,
	.study_careers .img_container_type_2,
	.study_careers .img_container_type_3 {
		width: 100%;
		height: 300px;
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: 25px;
		margin-left: auto;
		margin-right: auto;
	}

	.study_careers .img_container_type_2 {
		width: 60%;
	}

	.info_container {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		text-align: center;
	}




}




/** REVIEWS **/
.reviews_desktop img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.reviews_desktop h2 {
	color: white;
	font-size: 14px;
}

.reviews_desktop h3 {
	color: white;
}

.img_container_reviews {
	width: 80%;
	overflow: hidden;
	margin: auto;
}

.video_container {
	position: relative;
	padding: 65px;
}

.content_container {
	position: absolute;
	bottom: 16%;
	left: 7%;
	z-index: 200;

	inset: 0;
	display: flex !important;
	place-content: center;
	gap: 105px;
	justify-content: center;
	align-items: center;
}

.reviews_movil {
	display: none;
}

@media (max-width:768px) {
	.reviews_desktop {
		display: none;
	}

	.reviews_movil {
		display: block;
	}

	.swiper {
		width: 100% !important;
	}

	.reviews_movil h2 {
		color: rgba(2, 85, 125);
		font-size: 2rem;
		font-weight: 600;
		text-align: center;
	}

	.reviews_movil h3 {
		color: rgba(2, 85, 125);
		font-size: 2.5rem;
		font-weight: bold;
		text-align: center;
	}
}




/** FOOTER **/
.footer {
	background-color: rgba(2, 85, 125);
	padding: 5%;
}

.footer .logo {
	width: 57%;
	object-fit: cover;
}

.footer h2 {
	color: #D6A000;
	font-size: 1.6rem;
	font-weight: 500;
}

.footer p {
	color: white;
	font-size: 1rem;
	font-weight: 400;
}

.qwick_links a {
	color: white;
}

.qwick_links a:hover {
	color: #D6A000;
	text-decoration: none;
	font-weight: bold;
}

.logo_silvera_container {
	text-align: right;
}

.footer .logo_silvera {
	width: 40%;
	object-fit: cover;
}

.form_newsletter {
	max-width: 217px;
}


.input_newsletter {
	border-radius: 30px;
	border: none;
	height: 35px;
}

.btn_submit_newsletter {
	position: absolute;
	right: 0;
	z-index: 200;
	height: 35px;
	width: 90px;
	font-weight: 600;
}

.copyrigth_container {
	border-top: 1px solid #139dd1;
}

@media (max-width:768px) {
	.qwick_links {
		text-align: center;
	}

	.contact_info {
		text-align: center;
	}

	.copyrigth_container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	.logo_silvera_container {
		text-align: center;
	}

	.footer .logo_silvera {
		/* width: 100%; */
		margin-left: auto;
		margin-right: auto;
	}

	.form_newsletter {
		margin-left: auto;
		margin-right: auto;
	}

	.newsletter_container {
		text-align: center;
	}

	.footer .logo {
		width: 40%;
		padding-bottom: 34px;
	}
}




/** GENERALS **/
.swiper {
	width: 300px;
	height: 300px;
}

/* .swiper-pagination {
	position: inherit;
} */

.videos_reviews {
	width: 300px;
	height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
	background: white;
	border-radius: 50%;
	padding: 25px;
	opacity: 70%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	font-size: 23px;
}

.link {
	color: white;
}

.link:hover {
	color: #D6A000;
	text-decoration: none;
	font-weight: bold;
}

/* boton con fondo blanco y borde amarillo */
.our_team .card .btn,
.btn_background_white {
	background-color: white;
	border-radius: 20px;
	border: 2px solid #D6A000;
	color: #D6A000;
}

/* boton con fondo amarillo y borde blanco */
.btn_background_yellow {
	background-color: #D6A000;
	border-radius: 20px;
	border: 2px solid white;
	color: white;
}

.btn_background_yellow:hover {
	background-color: white;
	border-radius: 20px;
	border: 2px solid #D6A000;
	color: #D6A000;
}

.btn_background_white:hover {
	background-color: #D6A000;
	border-radius: 20px;
	border: 2px solid white;
	color: white;
}

.btn_small {
	width: 27%;
	font-size: 14px;
	font-weight: 600;
	padding: 2px;
	margin: 10px;
	justify-content: center;
	display: flex;
}

.btn_medium {
	width: 84%;
	font-size: 14px;
	font-weight: 600;
}

.btn_large {
	width: 36%;
	font-size: 25px;
	font-weight: 700;
	border-radius: 30px;
}

.btn_view_more {
	font-size: 22px;
	font-weight: 400;
	border-radius: 34px;
	width: 175px;
}

/*Subrayado de titulos de las secciones*/
.our_team h2,
.the_most_popular h2,
.about_us h2,
.study_careers h2 {
	color: rgba(2, 85, 125);
	font-size: 2rem;
	text-align: left;
	font-weight: 600;
	position: relative;

	width: 75%;
	padding-bottom: 15px;
	border-bottom: 4px solid #D6A000;

	max-width: 373px;
}

/* punto amarillo de las secciones */
.our_team h2::before,
.the_most_popular h2::before,
.about_us h2::before,
.study_careers h2::before {
	position: absolute;
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	background-color: #D6A000;
	border-radius: 50%;
	margin-right: 10px;
	left: -32px;
	top: 14px;
}

.our_team h3,
.the_most_popular h3,
.study_careers h3 {
	color: rgba(2, 85, 125);
	font-size: 2.5rem;
	font-weight: bold;
	text-align: left;
	margin-bottom: 80px;
}

@media (max-width:768px) {

	.title_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center !important;
	}

	.title_container h2 {
		text-align: center;
	}

	.title_container h3 {
		text-align: center;
	}


}